.container-profile {
  display: flex;
  justify-content: center;
  width: 100vw;
  align-items: center;
  width: 100vw;
}
.container-profile img {
  width: 40px;
}
.container-profile span {
  background-color: #fff;
  padding: 10px;
  border-radius: 2px;
}
