@import "alignments.css";
@import "buttons.css";
@import "form.css";
@import "margins.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

input[type="text"],
input[type="password"] {
  width: 256px;
  border: none;
  font-size: 12px;
  padding: 12px 29px 13px;
}
/* 
button {
  height: 39px;
} */
