.container-report-menu {
  padding: 10px 5px 0 15px;
  align-items: flex-start;
}
.container-report-menu img {
  margin: 3px;
  padding: 0;
}

.container-report-menu button > span {
  font-family: Montserrat;
  line-height: 29px;
  color: #000000;
  font-size: 24px;
}
.container-report-menu button {
  margin: 0 9px;
  cursor: pointer;
  background: none;
  border: none;
}

.current-status {
  background: #f8f8f8;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}
.current-status a {
  padding: 16px 18px;
  color: #000000;
}
.active-button a {
  color: #da0175;
}
