.container-collection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.container-collection img {
  width: 40px;
}
.container-collection span {
  background-color: #fff;
  padding: 10px;
  border-radius: 2px;
}
