.container-charge {
  /* width: 100vw;
  height: 100vh;
  width: 958px; */
  /* height: 700px; */
}

.input-busca {
  display: flex;
  height: 50px;
  margin: 30px 20px;
  justify-content: end;
  align-items: center;
}
.input-busca button {
  margin: 0;
}

.input-busca img {
  margin: 0;
}

.container-description-charge {
  display: flex;
  justify-content: space-around;
  background-color: #9dbbc3;
  padding: 6px 0;
  width: 970px;
  margin: 0 15px 6px 12px;
  height: 32px;
  color: #ffffff;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
}
.box-container-details button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  margin: 8px 0;
}
.container-details-charge {
  display: flex;
  justify-content: space-around;
  padding: 17px 0 11px 0;
  min-width: 960px;
  height: 48px;
  background: #ffffff;
  border-radius: 8px;
  color: #4c4c4c;
}

.container-details-charge span {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container-details-charge span:hover:nth-child(4) {
  overflow: visible;
}

.span-lg {
  justify-content: start;
  width: 180px;
}
.span-md {
  width: 94px;
}
.span-sm {
  display: flex;
  justify-content: center;
  width: 60px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}
.margin-lg {
  margin-left: 25px;
}
.margin-md {
  margin-left: 15px;
}

.status-charge {
  display: flex;
  width: 90px;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
}
.pago {
  color: #4ec06e;
}
.pendente {
  color: #5197b5;
}
.vencido {
  color: #ff4d4d;
}

.no-register {
  font-style: bold;
  font-weight: 600;
  font-size: 36px;
  line-height: 15px;
  color: #323232;
}
